# API credentials
API_USER=admin
API_PASS=changeme

# Порт на котором будет слушать API (uvicorn)
API_LISTEN_PORT=8000

# Порт, к которому считаем уникальные remote IP (например 22, 80, 443 и т.д.)
MONITOR_PORT=22

# Включить/выключить подсчёт IPv4 (true/false)
COUNT_IPV4=true

# Включить/выключить подсчёт IPv6 (true/false)
COUNT_IPV6=true